aside {
    position: fixed;
    margin-left: calc(60% + 6em);
    margin-right: 4em;
    margin-top: 3em;
    padding-left: 1em;
    border-left: solid gray 3px;  
    height: 100%;
    font-size: 75%;
    overflow: scroll;
}

aside > ol {
    margin-bottom: 4em;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    margin: 3em;
}

li {
    margin: 0;
    padding: 0;
}