main {
    width: 60%;
    margin-left: 20%;
}

ul {
    overflow: scroll;
    height: 50vh;
}

html > body > footer {
    position: absolute;
    bottom: 0;
    margin-left: 20%;
    margin-top: 1em;
}

small {
    font-size: 75%;
}