<!DOCTYPE html>
<html lang="en">
<head>
    {{headparts|safe}}
    <link rel="stylesheet" href="https://citation-toolkit.toolforge.org/static/highlight-citations.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/d3/7.8.5/d3.min.js"></script>
    <script src="https://citation-toolkit.toolforge.org/static/highlight-citations.js"></script>
    <script id="usage-stats" type="application/json">{{usagestats|safe}}</script>
</head>
<body>
    {{bodyparts|safe}}
    <aside></aside>
</body>
</html>