<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lookup CITEREF - Citation Toolkit</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/picocss/1.5.11/pico.classless.min.css">
    <link rel="stylesheet" href="/static/lookup-citeref.css">
    <script src="/static/lookup-citeref.js"></script>
</head>
<body>
    {% if currently_updating %}
    <div class="warning">Currently updating to the latest dump; results will be incomplete until that point.</div>
    {% endif %}
    <main>
        {% raw %}
        <form action="#">
            <label>Ref: <input id="ref" type="text" placeholder="e.g. {{sfn|Jones|1928}} or Jones1928 or CITEREFJones1928"></label>
        </form>
        {% endraw %}
        <ul id="result-list"></ul>
    </main>
    <footer><small>
        &copy; 2024 <a rel="author" href="https://en.wikipedia.org/wiki/User:Vahurzpu">User:Vahurzpu</a>.
        Licensed under the <a rel="license" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> (or later);
        <a rel="code-repository" href="https://gitlab.wikimedia.org/vahurzpu/citation-toolkit">see source</a>.
        UI based on the <a href="https://picocss.com/">Pico CSS</a> framework.
    </small></footer>
</body>
</html>