<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.text}} - Track No-Target - Citation Toolkit</title>
</head>
<body>
    <h1>
        <a href="https://en.wikipedia.org/wiki/{{page.slug}}">{{page.text}}</a>
        <form style="display: inline;" action="../refresh/{{page.slug}}" method="post"><button type="submit">Refresh</button></form>
    </h1>
    <ul>
        {% for citeref in citerefs %}
        <li>
            {{citeref.citeref}} ({{citeref.count}})
            {% if citeref.elsewhere_count > 0 %}
            &mdash; <a href="/lookup-citeref/?ref={{citeref.citeref}}">{{citeref.elsewhere_count}} occurences</a> elsewhere
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>