<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track No-Target - Citation Toolkit</title>
</head>
<body>
    <p>Pages:</p>
    <ul>
        {% for page in pages %}
        <li><a href="{{page.href}}">{{page.text}}</a> ({{page.count}}, {{page.distinct_count}} distinct)</li>
        {% endfor %}
    </ul>
</body>
</html>